{% extends "pages/index.html" %}
{% load feedparser_tags  %}

{% block blog_recent_posts %}
<div class="alert alert-info alert-dismissable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </button>
    JASMIN News (from <a href="http://www.ceda.ac.uk/blog/tag/jasmin/" target="_blank">CEDA news feed</a>)
    <div id="wrapper">
        {% feedparser_render 'http://www.ceda.ac.uk/blog/tag/jasmin/feeds/rss' template='jasmin_news_feed_ticker.html' %}
    </div>
</div>
{% endblock %}
